.navbar{
    margin: 0%;
    position: fixed;
    width: 100%;
    height: 40px;
  
}
.logo{
    position: fixed;
    left: 20px;
    width: 10%;
    margin-top: 10px;
}
.avatar{
    position: fixed;
    right: 20px;
    width: 5%;
    height: 40px;
    margin-top: 10px;
}